<!DOCTYPE HTML>
<html>
<head>
<title>Forms</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>

</head>
<body>	
	<div>计调端——订单管理</div>
	{foreach $orderList as $order}
	<div>
		<div>订单号：{$order['order_sn']}<br/>用户名称：{$order['user_name']}<br/>用户手机号：{$order['mobile_phone']}<br/>下单日期：{$order['add_time']|date="Y-m-d",###}</div>	
		<div>状态显示：共{$order['total_stage']}个阶段，当前第{$order['current_stage']}个阶段</div>
		<div>倒计时15天</div>
		<div><a href="__APP__?m=internal&a=Stage&id={$order['order_id']}">状态查看</a></div>	
		<div><a href="__APP__?m=internal&a=Base&id={$order['order_id']}">基装详情查看</a></div>	
	</div>	
	{/foreach}
	<div><a href="{url('Adjusting')}">首页</a></div>
	<div><a href="{url('Work')}">工作台</a></div>
</body>
</html>