<!DOCTYPE HTML>
<html>
<head>
<title>Forms</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>

</head>
<body>	
	<div>计调端——选择质检</div>
	{foreach $userList as $user}
	<div>
		<div><a href="__APP__?m=internal&a=Form&user_id={$user['user_id']}&order_id={$order_id}">姓名：{$user['user_name']}</a></div>
	</div>	
	{/foreach}
	<div><a href="{url('Adjusting')}">首页</a></div>
	<div><a href="{url('Work')}">工作台</a></div>
</body>
</html>