<!DOCTYPE HTML>
<html>
<head>
<title>Forms</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>

</head>
<body>	
	<div>质检员——首页</div>
	<div>待办事项：{$orderCount}</div>	
	<div>欢迎您，{$user['user_name']}</div>
	<div>上月订单：{$lastOrder}</div>
	<div>今日订单：{$todayOrder}</div>
	<div>本月订单：{$monthOrder}</div>

	<div><a href="{url('QualityTest')}">首页</a></div>
	<div><a href="{url('QualityWork')}">工作台</a></div>
</body>
</html>