<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>已申请设计师</title>
    <style type="text/css">
    </style>
</head>
<body>
	<div class="nav"><font>设计师身份 正在审核中</font></div>
	<div>3-5个工作日后通过审核,请耐心等候</div>
</body>
</html>
